// Navigation code here

.title {
    border: 2px solid red;
    background-color: #F5F5F5;


    h1{
        font-size: 3rem;
        text-align: center;
    }//h1 in .title section 

    nav{
        display: flex; 
        justify-content: center;
        
        a{
            padding: 10px;
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }//anchors in nav in .title 

    }// nav in .title 


}// end .title class section 
